<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animalfarm Register</title>
</head>
<body>
    <h2>Animalfarm Register</h2>
    <form methods="POST" action="/">
        <label for="Animaltype">Animaltype:</label><br>
        <input type="text" id="Animaltype" name="Animaltype" required><br><br>
        <label for="Animalid">Animalid:</label><br>
        <input type="text" id="Animalid" name="Animalid" required><br><br>
        <label for="Animalproduct">Animalproduct:</label>:</label><br>
        <input type="text" id="Animalproduct" name="Animalproduct"required><br><br>
        <input type="submit" value="Submit">

    </form>
</body>
</html>
